<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Geunheekim.GitHub.io : ">

    <title>Geun Bae's Playground</title>
    <link rel="stylesheet" href="/public/css/style.css">

  </head>

  <body>
    <h3>GeunBae's Project</h3>
    <div class="wrap-project">
      <table aria-describedby="geunbae-project-table-summary">
        <caption class="readable-hidden">The table for a list of GeunBae's projects</caption>
        <tr>
          <th scope="row"><a href="/views/miniproject/index">I want to be good at javascript</a></th>
          <td>I want to be good at javascript. so I made my goal visually.
This site can not work rightly in mobile.
I will update it soon.:)</td>
        </tr>
      </table>
      <img src="/public/images/main.svg" alt="images of study room">


    </div>

    <p class="readable-hidden" id="geunbae-project-table-summary">
      This table is a list of GeunBae's projects.
    </p>

  </body>
</html>
