<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Geunheekim.GitHub.io : ">

    <title>Geun Bae's Playground</title>
    <link rel="stylesheet" href="/public/css/style.css">

  </head>

  <body>
    <h3><em class="blue">G</em>eun<em class="blue">B</em>ae's <em class="blue">P</em>roject</h3>
    <div class="txtalign-center">
      <img src="/public/images/main.svg" alt="images of study room">
    </div>
    <h4>"Be good at javascript"</h4>
    <div class="description-project">
      I want to be good at javascript. so I made my goal visually.<br>
      This site can not work rightly in mobile yet.<br>
      I will update it soon.:)<br>
      You can check it <a href="/FDS/miniproject" class="txt-1-5rem" target="_blank">Here</a>
    </div>

    <h4>"Aware shoppingmall page"</h4>
    <div class="description-project">
      A shoppingmall site markup is really not easy.<br>
      It is troublesom than any other site.<br>
      It has many things to consider.<br>
      Anyway I practice it here.<br>
      I tried to make it by semantic codes.<br>
      Although I tried to make it perfectly, this page still has things to upgrade.<br>
      You can check it <a href="/FDS/aware" class="txt-1-5rem" target="_blank">Here</a>
    </div>

    <h4>"Table element practice"</h4>
    <div class="description-project">
      Making table element rightly is really important at Web Accesibility point.<br>
      We should define a column text point which direction - row or column.<br>
      I practiced it.
      You can check it <a href="/FDS/table" class="txt-1-5rem" target="_blank">Here</a>
    </div>

    <h4>"A fixed image and text is scrolling"</h4>
    <div class="description-project">
      I prctice to layout a fixed image and scrolling texts.<br>
      The contents are dummy texts.
      You can check it <a href="/FDS/resume" class="txt-1-5rem" target="_blank">Here</a>
    </div>

    <h4>"Form practice"</h4>
    <div class="description-project">
      I prctice form elements markup.<br>
      You can check it <a href="/FDS/form" class="txt-1-5rem" target="_blank">Here</a>
    </div>


  </body>
</html>
